body {
    /* Just fixed a bug with draging the mouse */
    user-select: none;
}
.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 820px;
    height: 800px;
}
.madeRow {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: fit-content;
    width: 100%;
}
.madeCell {
    border: 1px solid rgb(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px;
}
.options {
    display: flex;
}